/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .upgrade_to_pro{
	padding-top: 100px;
	padding: 15px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	margin-bottom: 20px;
	background: url('../images/xt_logo.png') no-repeat bottom 5%right 5% #fff;
	background-size: 20%;
}
.upgrade_to_pro h2{
	font-size: 22px !important;
	padding: 0px !important; 
}
.upgrade_button{
	height: 36px !important;
	padding: 0px 20px !important;
	font-size: 16px !important;
}

.hide_frequency .import_frequency, .iee_eventbrite_form tr.eventbrite_organizer_id{
  display: none;
}

.setting_bar {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 6px 0 6px 12px;
}

.import_events_nav{
	background-color: #fafafa;
}

.import_events_nav ul.vercal_tabs{
	position: relative;
	float: left;
	list-style: none;
	width: 200px;
	line-height: 1em;
	margin: 0 0 -1px 0;
	padding: 0;
	background-color: #fafafa;
	border-right: 1px solid #eee;
	box-sizing: border-box;
}

.import_events_nav ul.vercal_tabs li {

    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 20px;

}

.import_events_nav ul.vercal_tabs li a {
    display: block;
    margin: 0;
    padding: 12px;
    line-height: 20px !important;
    text-decoration: none;
    border-bottom: 1px solid #eee;
    box-shadow: none;
    font-size: 14px;
}

.import_events_nav ul.vercal_tabs li.active a {
    position: relative;
    font-weight: 700;
    color: #555;
    background-color: #fff;
    margin: 0px -1px 0px 0px;
    border-left: 2px solid #00a0d2;
}

.import_events_nav_content {
    float: left;
    width: calc(100% - 200px);
    margin-left: -1px;
    border-left: 1px solid #eee;
    padding: 20px;
	box-sizing: border-box;
	background-color: #fff;
}

.import-eventbrite-events-page-content{
	background-color: #fff;
	border: 1px solid #ccc;	
	margin: 20px 0;
}

@media ( max-width: 460px ){
	.import_events_nav ul.vercal_tabs{
		float: none;
		width: 100%;
	}
	.import_events_nav_content {
	    float: none;
	    width: 100%;
	}
}

.iee_container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.iee_container *:before,
.iee_container *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.iee_container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.iee_row {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.xtei-column{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.iee_container:before,
.iee_container:after,
.iee_row:before,
.iee_row:after {
  content: " ";
  display: table;
}

.iee_container:after,
.iee_row:after {
  clear: both;
}

.iee_well{
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 8px 20px 12px;
}
.iee_label{
    font-weight: bold;
    margin-right: 20px;
    display: block;
    margin-bottom: 5px;
}
.iee_small {
    font-size: 13px;
    color: #777;
    display: block;
    margin-top: 5px;
}
.iee_submit_button{
    margin-top: 10px !important;
}

/*#poststuff .stuffbox > h3, #poststuff h2, #poststuff h3.hndle {
    padding-bottom: 0px;
}*/
.iee_element {
    margin-top: 5px;
    margin-bottom: 20px;
}
.iee_small span.borderall {
    border: 2px solid red;
}
.tecauto_cat, .emauto_cat{
  display: none;
  margin-left: 25px;
}

.iee_desciption {
    display: block;
    margin-left: 25px;
    font-size: 13px;
    font-style: italic;
    color: #bababa;
}

/* Meta box design */
table.iee_form_table td, table.iee_form_table th {
    padding: 2px 10px;
    text-align: left;
}
table.iee_form_table{
  width: 100%;
}
table.iee_form_table td input[type="text"]{
  vertical-align: bottom;
}
table.iee_form_table tr td:nth-child(1) {
  width: 160px;
}

.plugin_box {
    width: 24%;
    float: left;
    background-color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    margin-bottom: 20px;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.plugin_box .plugin_img{
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.plugin_box h3{
    margin: 0.5em 0;
}
.plugin_box .plugin_content{
    padding: 10px 10px 20px 10px;
}
 @media (max-width: 1300px ){
    .plugin_box {
        width: 32.333%;
    }
}
@media (max-width: 1080px ){
    .plugin_box {
        width: 48%;
        margin-left: 1%;
        margin-right: 1%;
    }
}
 @media (max-width: 1080px ){
    .plugin_box {
        width: 100%;
        float: none;
    }
}
.vc_ui-panel .iee_datepicker .ui-datepicker-inline {
  display: none !important;
}

.inprogress_import strong{
    color: green;
}

.toplevel_page_eventbrite_event #TB_window.thickbox-loading:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  margin: -10px 0 0 -10px;
  background: #fcfcfc url(../../../../../wp-admin/images/spinner.gif) no-repeat center;
  background-size: 20px 20px;
  transform: translateZ(0);
}

.toplevel_page_eventbrite_event #TB_window {
  background: #fcfcfc;
}

.toplevel_page_eventbrite_event #TB_title {
  float: left;
  height: 1px;
}

.toplevel_page_eventbrite_event #TB_ajaxWindowTitle {
  display: none;
}

.toplevel_page_eventbrite_event #TB_closeWindowButton {
  left: auto;
  right: -30px;
  color: #eee;
}

.toplevel_page_eventbrite_event #TB_closeWindowButton:hover,
.toplevel_page_eventbrite_event #TB_closeWindowButton:focus {
  color: #00a0d2;
  outline: none;
  box-shadow: none;
}

.toplevel_page_eventbrite_event .tb-close-icon {
  display: none;
}

.toplevel_page_eventbrite_event #TB_closeWindowButton:after {
  content: "\f335";
  font: normal 32px/29px 'dashicons';
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#iee_setting_form .checkout_model_option{
  margin-left: 20px;
}

#iee_setting_form .checkout_model_option input[type="radio"]{
  margin: 2px;
}

@media screen and (max-width: 830px) {
  .toplevel_page_eventbrite_event #TB_closeWindowButton {
    right: 0;
    top: -30px;
  }
}

/* Support page CSS */
.iee-support-features-card {
  display: flex;
  flex-basis: 32%;
  flex-wrap: nowrap;
  flex-grow: 1;
  box-sizing: border-box;
  margin: .5rem;
  background-color: #fff;
  box-shadow: 0 0 0 1px #ccd0d4, 0 1px 1px 1px rgba(0, 0, 0, 0.04)
}

.iee-support-features-card:last-child {
  max-width: 100%
}

@media (min-width: 661px) {
  .iee-support-features-card {
      margin-bottom: 1%
  }
}

@media (max-width: 660px) {
  .iee-support-features-card {
      max-width: 100%;
      margin-bottom: .5rem
  }
}

@media (min-width: 481px) {
  .iee-support-features-card {
      padding: 2rem
  }
}

@media (max-width: 480px) {
  .iee-support-features-card {
      padding: 1rem
  }
}

.iee-support-features-list {
  list-style: initial;
  margin-left: 1rem
}

.iee-support-features-img {
  width: 5.625rem;
  margin-right: .5rem;
  line-height: 1
}

@media (min-width: 961px) {
  .iee-support-features-img {
      width: 6.5rem;
      margin-right: 1.125rem
  }
}

.iee-support-features-icon {
  display: block;
  max-width: 80%;
  margin-left: 0px;
}

@media (min-width: 481px) {
  .iee-support-features-icon {
      max-width: 80%;
      margin-left: 0px;
  }
}

.iee-support-features-text {
  flex: 1
}

.iee-support-features-title {
  margin: 0
}

.iee-support-features {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-left: -.5rem;
  margin-right: -.5rem
}

@media (max-width: 660px) {
  .iee-support-features {
      display: block
  }
}
.iee_short_code {
  background-color: #f0f0f0;
  padding: 0 3px 0 3px ;
  display: initial;   
}

/* Plugin Addon List */
#iee-addons-list *,#iee-addons-list *::before,#iee-addons-list *::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#iee-addons-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-left: -15px;
}

#iee-addons-list .iee-addon-container {
  margin-bottom: 15px;
  flex-grow: 1;
  flex-wrap: nowrap;
  padding-left: 15px;
  float: left;
  flex-basis: 50%;
  box-sizing: border-box;
}

@media  (max-width:1100px) {
  #iee-addons-list .iee-addon-container {
		min-width:100%;
		margin-bottom: 20px;
	}
}

#iee-addons-list .iee-addon-item {
	background-color: #fff;
	margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

@media (max-width: 767px) {
	#iee-addons-list .iee-addon-item {
		margin:0 0;
	}
}

#iee-addons-list .iee-addon-item img {
	border: 1px solid #eee;
	float: left;
	max-width: 85px;
}

#iee-addons-list .iee-addon-item h5 {
	margin: 0 0 10px 100px;
	font-size: 16px;
}

#iee-addons-list .iee-addon-item p {
	margin: 0 0 0 100px;
}

#iee-addons-list .iee-addon-item .iee-action-button {
	float: right;
}

#iee-addons-list .iee-addon-item .iee-action-button button {
	background: #007cba;
	border: 0;
    font-weight: 600;
    width: 110px;
    padding: 4px;
}


#iee-addons-list .iee-addon-item .iee-details {
	padding: 30px;
}

/* Clear */
.iee-clear:before {
	content: " ";
	display: table;
}
.iee-clear:after {
	clear: both;
	content: " ";
	display: table;
}

#iee-addons-list .iee-addon-item .actions {
	background-color: #f7f7f7;
	border-top: 1px solid #ddd;
	padding: 20px;
	position: relative;
}

#iee-addons-list .iee-addon-item .iee-status {
	float: left;
	padding-top: 8px
}

#iee-addons-list .iee-addon-item .iee-status .iee-status-inactive {
	color: red
}

#iee-addons-list .iee-addon-item .iee-status .statiee-statusus-download {
	color: #666
}

 #iee-addons-list .iee-addon-item{
  box-shadow: 0 0 0 1px #ccd0d4, 0 1px 1px 1px rgb(0 0 0 / 4%);
}
#iee-addons-list .iee-addon-item .iee-action-button button:hover{
	background: #0071a1;
}
/*Upgrade to pro link CSS*/
.iee_upgrade_pro {
  background: #1da867;
}

.iee_google_maps_api_key{
  width: 50%;
}

.iee_tab_container {
  margin: 20px 10px;
}

.iee_nav_tabs {
  list-style: none;
  padding: 0;
  margin: 0;
}

.iee_nav_tabs li {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #f2f2f2;
  color: #333;
}

.iee_tab_content {
  display: none;
  padding: 10px;
  background-color: #f2f2f2;
  color: #333;
}

.iee_tab_content.active {
  display: block;
}

.iee_navbar {
  background-color: #f2f2f2;
  padding: 10px;
}

.iee_nav_tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.iee_nav_tabs li {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  background-color: #dcdcde;
  color: #333;
  border: 1px solid #ccc;
  border-bottom: none;
  margin-bottom: -1px;
}

.iee_nav_tabs li.active {
  font-weight: bold;
  background-color: unset;
  border-bottom: 1px solid #f0f0f1;
}

.iee_gmap_error_message{
  font-weight: bold;
  color: red;
  margin-left: 10px;
}
.iee_gmap_success_message{
  font-weight: bold;
  color: green;
  margin-left: 10px;
}

.iee_loader {
  position: relative;
  display: none;
}

.iee_loader::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -20px;
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0% { transform: scale(0); }
  50% { transform: scale(1.2); }
  100% { transform: scale(0); }
}