.iee_archive {
  margin: 0;
}
.iee_archive *, .iee_event_meta * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.iee_archive *:before,
.iee_archive *:after,
.iee_event_meta *:before,
.iee_event_meta *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.iee_container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .iee_container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .iee_container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .iee_container {
    width: 1170px;
  }
}
.iee_container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row_grid {
  margin-left: -15px;
  margin-right: -15px;
}
.col-iee-xs-1, .col-iee-sm-1, .col-iee-md-1, .col-iee-lg-1, .col-iee-xs-2, .col-iee-sm-2, .col-iee-md-2, .col-iee-lg-2, .col-iee-xs-3, .col-iee-sm-3, .col-iee-md-3, .col-iee-lg-3, .col-iee-xs-4, .col-iee-sm-4, .col-iee-md-4, .col-iee-lg-4, .col-iee-xs-5, .col-iee-sm-5, .col-iee-md-5, .col-iee-lg-5, .col-iee-xs-6, .col-iee-sm-6, .col-iee-md-6, .col-iee-lg-6, .col-iee-xs-7, .col-iee-sm-7, .col-iee-md-7, .col-iee-lg-7, .col-iee-xs-8, .col-iee-sm-8, .col-iee-md-8, .col-iee-lg-8, .col-iee-xs-9, .col-iee-sm-9, .col-iee-md-9, .col-iee-lg-9, .col-iee-xs-10, .col-iee-sm-10, .col-iee-md-10, .col-iee-lg-10, .col-iee-xs-11, .col-iee-sm-11, .col-iee-md-11, .col-iee-lg-11, .col-iee-xs-12, .col-iee-sm-12, .col-iee-md-12, .col-iee-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 2%;
}
.col-iee-xs-1, .col-iee-xs-2, .col-iee-xs-3, .col-iee-xs-4, .col-iee-xs-5, .col-iee-xs-6, .col-iee-xs-7, .col-iee-xs-8, .col-iee-xs-9, .col-iee-xs-10, .col-iee-xs-11, .col-iee-xs-12 {
  float: left;
}
.col-iee-xs-12 {
  width: 100%;
}
.col-iee-xs-11 {
  width: 91.66666667%;
}
.col-iee-xs-10 {
  width: 83.33333333%;
}
.col-iee-xs-9 {
  width: 75%;
}
.col-iee-xs-8 {
  width: 66.66666667%;
}
.col-iee-xs-7 {
  width: 58.33333333%;
}
.col-iee-xs-6 {
  width: 50%;
}
.col-iee-xs-5 {
  width: 41.66666667%;
}
.col-iee-xs-4 {
  width: 33.33333333%;
}
.col-iee-xs-3 {
  width: 25%;
}
.col-iee-xs-2 {
  width: 16.66666667%;
}
.col-iee-xs-1 {
  width: 8.33333333%;
}
.col-iee-xs-pull-12 {
  right: 100%;
}
.col-iee-xs-pull-11 {
  right: 91.66666667%;
}
.col-iee-xs-pull-10 {
  right: 83.33333333%;
}
.col-iee-xs-pull-9 {
  right: 75%;
}
.col-iee-xs-pull-8 {
  right: 66.66666667%;
}
.col-iee-xs-pull-7 {
  right: 58.33333333%;
}
.col-iee-xs-pull-6 {
  right: 50%;
}
.col-iee-xs-pull-5 {
  right: 41.66666667%;
}
.col-iee-xs-pull-4 {
  right: 33.33333333%;
}
.col-iee-xs-pull-3 {
  right: 25%;
}
.col-iee-xs-pull-2 {
  right: 16.66666667%;
}
.col-iee-xs-pull-1 {
  right: 8.33333333%;
}
.col-iee-xs-pull-0 {
  right: auto;
}
.col-iee-xs-push-12 {
  left: 100%;
}
.col-iee-xs-push-11 {
  left: 91.66666667%;
}
.col-iee-xs-push-10 {
  left: 83.33333333%;
}
.col-iee-xs-push-9 {
  left: 75%;
}
.col-iee-xs-push-8 {
  left: 66.66666667%;
}
.col-iee-xs-push-7 {
  left: 58.33333333%;
}
.col-iee-xs-push-6 {
  left: 50%;
}
.col-iee-xs-push-5 {
  left: 41.66666667%;
}
.col-iee-xs-push-4 {
  left: 33.33333333%;
}
.col-iee-xs-push-3 {
  left: 25%;
}
.col-iee-xs-push-2 {
  left: 16.66666667%;
}
.col-iee-xs-push-1 {
  left: 8.33333333%;
}
.col-iee-xs-push-0 {
  left: auto;
}
.col-iee-xs-offset-12 {
  margin-left: 100%;
}
.col-iee-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-iee-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-iee-xs-offset-9 {
  margin-left: 75%;
}
.col-iee-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-iee-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-iee-xs-offset-6 {
  margin-left: 50%;
}
.col-iee-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-iee-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-iee-xs-offset-3 {
  margin-left: 25%;
}
.col-iee-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-iee-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-iee-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-iee-sm-1, .col-iee-sm-2, .col-iee-sm-3, .col-iee-sm-4, .col-iee-sm-5, .col-iee-sm-6, .col-iee-sm-7, .col-iee-sm-8, .col-iee-sm-9, .col-iee-sm-10, .col-iee-sm-11, .col-iee-sm-12 {
    float: left;
  }
  .col-iee-sm-12 {
    width: 100%;
  }
  .col-iee-sm-11 {
    width: 91.66666667%;
  }
  .col-iee-sm-10 {
    width: 83.33333333%;
  }
  .col-iee-sm-9 {
    width: 75%;
  }
  .col-iee-sm-8 {
    width: 66.66666667%;
  }
  .col-iee-sm-7 {
    width: 58.33333333%;
  }
  .col-iee-sm-6 {
    width: 50%;
  }
  .col-iee-sm-5 {
    width: 41.66666667%;
  }
  .col-iee-sm-4 {
    width: 33.33333333%;
  }
  .col-iee-sm-3 {
    width: 25%;
  }
  .col-iee-sm-2 {
    width: 16.66666667%;
  }
  .col-iee-sm-1 {
    width: 8.33333333%;
  }
  .col-iee-sm-pull-12 {
    right: 100%;
  }
  .col-iee-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-iee-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-iee-sm-pull-9 {
    right: 75%;
  }
  .col-iee-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-iee-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-iee-sm-pull-6 {
    right: 50%;
  }
  .col-iee-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-iee-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-iee-sm-pull-3 {
    right: 25%;
  }
  .col-iee-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-iee-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-iee-sm-pull-0 {
    right: auto;
  }
  .col-iee-sm-push-12 {
    left: 100%;
  }
  .col-iee-sm-push-11 {
    left: 91.66666667%;
  }
  .col-iee-sm-push-10 {
    left: 83.33333333%;
  }
  .col-iee-sm-push-9 {
    left: 75%;
  }
  .col-iee-sm-push-8 {
    left: 66.66666667%;
  }
  .col-iee-sm-push-7 {
    left: 58.33333333%;
  }
  .col-iee-sm-push-6 {
    left: 50%;
  }
  .col-iee-sm-push-5 {
    left: 41.66666667%;
  }
  .col-iee-sm-push-4 {
    left: 33.33333333%;
  }
  .col-iee-sm-push-3 {
    left: 25%;
  }
  .col-iee-sm-push-2 {
    left: 16.66666667%;
  }
  .col-iee-sm-push-1 {
    left: 8.33333333%;
  }
  .col-iee-sm-push-0 {
    left: auto;
  }
  .col-iee-sm-offset-12 {
    margin-left: 100%;
  }
  .col-iee-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-iee-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-iee-sm-offset-9 {
    margin-left: 75%;
  }
  .col-iee-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-iee-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-iee-sm-offset-6 {
    margin-left: 50%;
  }
  .col-iee-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-iee-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-iee-sm-offset-3 {
    margin-left: 25%;
  }
  .col-iee-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-iee-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-iee-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-iee-md-1, .col-iee-md-2, .col-iee-md-3, .col-iee-md-4, .col-iee-md-5, .col-iee-md-6, .col-iee-md-7, .col-iee-md-8, .col-iee-md-9, .col-iee-md-10, .col-iee-md-11, .col-iee-md-12 {
    float: left;
    margin-bottom: 2%;
  }
  .col-iee-md-12 {
    width: 100%;
  }
  .col-iee-md-11 {
    width: 91.66666667%;
  }
  .col-iee-md-10 {
    width: 83.33333333%;
  }
  .col-iee-md-9 {
    width: 75%;
  }
  .col-iee-md-8 {
    width: 66.66666667%;
  }
  .col-iee-md-7 {
    width: 58.33333333%;
  }
  .col-iee-md-6 {
    width: 50%;
  }
  .col-iee-md-5 {
    width: 41.66666667%;
  }
  .col-iee-md-4 {
    width: 33.33333333%;
    margin-bottom: 2%;
  }
  .col-iee-md-3 {
    width: 25%;
  }
  .col-iee-md-2 {
    width: 16.66666667%;
  }
  .col-iee-md-1 {
    width: 8.33333333%;
  }
  .col-iee-md-pull-12 {
    right: 100%;
  }
  .col-iee-md-pull-11 {
    right: 91.66666667%;
  }
  .col-iee-md-pull-10 {
    right: 83.33333333%;
  }
  .col-iee-md-pull-9 {
    right: 75%;
  }
  .col-iee-md-pull-8 {
    right: 66.66666667%;
  }
  .col-iee-md-pull-7 {
    right: 58.33333333%;
  }
  .col-iee-md-pull-6 {
    right: 50%;
  }
  .col-iee-md-pull-5 {
    right: 41.66666667%;
  }
  .col-iee-md-pull-4 {
    right: 33.33333333%;
  }
  .col-iee-md-pull-3 {
    right: 25%;
  }
  .col-iee-md-pull-2 {
    right: 16.66666667%;
  }
  .col-iee-md-pull-1 {
    right: 8.33333333%;
  }
  .col-iee-md-pull-0 {
    right: auto;
  }
  .col-iee-md-push-12 {
    left: 100%;
  }
  .col-iee-md-push-11 {
    left: 91.66666667%;
  }
  .col-iee-md-push-10 {
    left: 83.33333333%;
  }
  .col-iee-md-push-9 {
    left: 75%;
  }
  .col-iee-md-push-8 {
    left: 66.66666667%;
  }
  .col-iee-md-push-7 {
    left: 58.33333333%;
  }
  .col-iee-md-push-6 {
    left: 50%;
  }
  .col-iee-md-push-5 {
    left: 41.66666667%;
  }
  .col-iee-md-push-4 {
    left: 33.33333333%;
  }
  .col-iee-md-push-3 {
    left: 25%;
  }
  .col-iee-md-push-2 {
    left: 16.66666667%;
  }
  .col-iee-md-push-1 {
    left: 8.33333333%;
  }
  .col-iee-md-push-0 {
    left: auto;
  }
  .col-iee-md-offset-12 {
    margin-left: 100%;
  }
  .col-iee-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-iee-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-iee-md-offset-9 {
    margin-left: 75%;
  }
  .col-iee-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-iee-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-iee-md-offset-6 {
    margin-left: 50%;
  }
  .col-iee-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-iee-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-iee-md-offset-3 {
    margin-left: 25%;
  }
  .col-iee-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-iee-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-iee-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-iee-lg-1, .col-iee-lg-2, .col-iee-lg-3, .col-iee-lg-4, .col-iee-lg-5, .col-iee-lg-6, .col-iee-lg-7, .col-iee-lg-8, .col-iee-lg-9, .col-iee-lg-10, .col-iee-lg-11, .col-iee-lg-12 {
    float: left;
  }
  .col-iee-lg-12 {
    width: 100%;
  }
  .col-iee-lg-11 {
    width: 91.66666667%;
  }
  .col-iee-lg-10 {
    width: 83.33333333%;
  }
  .col-iee-lg-9 {
    width: 75%;
  }
  .col-iee-lg-8 {
    width: 66.66666667%;
  }
  .col-iee-lg-7 {
    width: 58.33333333%;
  }
  .col-iee-lg-6 {
    width: 50%;
  }
  .col-iee-lg-5 {
    width: 41.66666667%;
  }
  .col-iee-lg-4 {
    width: 33.33333333%;
  }
  .col-iee-lg-3 {
    width: 25%;
  }
  .col-iee-lg-2 {
    width: 16.66666667%;
  }
  .col-iee-lg-1 {
    width: 8.33333333%;
  }
  .col-iee-lg-pull-12 {
    right: 100%;
  }
  .col-iee-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-iee-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-iee-lg-pull-9 {
    right: 75%;
  }
  .col-iee-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-iee-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-iee-lg-pull-6 {
    right: 50%;
  }
  .col-iee-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-iee-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-iee-lg-pull-3 {
    right: 25%;
  }
  .col-iee-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-iee-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-iee-lg-pull-0 {
    right: auto;
  }
  .col-iee-lg-push-12 {
    left: 100%;
  }
  .col-iee-lg-push-11 {
    left: 91.66666667%;
  }
  .col-iee-lg-push-10 {
    left: 83.33333333%;
  }
  .col-iee-lg-push-9 {
    left: 75%;
  }
  .col-iee-lg-push-8 {
    left: 66.66666667%;
  }
  .col-iee-lg-push-7 {
    left: 58.33333333%;
  }
  .col-iee-lg-push-6 {
    left: 50%;
  }
  .col-iee-lg-push-5 {
    left: 41.66666667%;
  }
  .col-iee-lg-push-4 {
    left: 33.33333333%;
  }
  .col-iee-lg-push-3 {
    left: 25%;
  }
  .col-iee-lg-push-2 {
    left: 16.66666667%;
  }
  .col-iee-lg-push-1 {
    left: 8.33333333%;
  }
  .col-iee-lg-push-0 {
    left: auto;
  }
  .col-iee-lg-offset-12 {
    margin-left: 100%;
  }
  .col-iee-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-iee-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-iee-lg-offset-9 {
    margin-left: 75%;
  }
  .col-iee-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-iee-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-iee-lg-offset-6 {
    margin-left: 50%;
  }
  .col-iee-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-iee-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-iee-lg-offset-3 {
    margin-left: 25%;
  }
  .col-iee-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-iee-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-iee-lg-offset-0 {
    margin-left: 0%;
  }
}

.iee_container:before,
.iee_container:after,
.iee_container-fluid:before,
.iee_container-fluid:after,
.row_grid:before,
.row_grid:after {
  content: " ";
  display: table;
}

.iee_container:after,
.iee_container-fluid:after,
.row_grid:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.iee_event_meta .iee_organizermain{ padding:40px; width:100%; background:#fafafa; border:1px solid #eeeeee; margin:30px 0;}
.iee_event_meta .iee_organizermain:after{ clear: both; }
.iee_event_meta .details { float: left; width: 50%;}
.iee_event_meta .details > a { display: block; line-height:18px;}
.iee_event_meta .details > p {margin-bottom: 10px;margin-top:0;}
.iee_event_meta .venue{ float:left; width:35%;}
.iee_event_meta .map {border:2px solid #ddd;float: left;width:64%; border-radius:2px;}
.iee_event_meta .titlemain{ font-size:18px; font-weight:bold; color:#444444; margin-bottom:10px;}
.iee_organizermain.library{ margin-top:0;}

.iee_archive .iee_event .event_date {
    background-color: #039ED7;
    color: #fff;
    padding: 10px 5px 5px 5px;
    text-align: center;
    width: 75px;
    float: left;
    height: 100%;
    
}

.iee_archive .iee_event .event_date .month {
    display: block;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.2em;
}

.iee_archive .iee_event .event_date .date {
    display: block;
    text-align: center;
    font-size: 1.6em;
    line-height: 1.6em;
}

.iee_archive .iee_event .event_details {
    background-color: #f5f5f5;
    height: 80px;
}

.iee_archive .iee_event .event_desc {
    float: left;
    width: calc( 100% - 75px );
    padding: 8px 10px;
}

.iee_archive .iee_event .event_desc .event_address, .iee_archive .iee_event .event_desc .event_title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}

.iee_archive .iee_event .event_desc .event_title {
  font-size: 1.2em;
  color: #039ED7;
}

.iee_archive .iee_event .img_placeholder{
  background-size: cover !important;
  min-height: 130px;
}
.iee_archive .archive-event .iee_event{
  height: 210px;
  font-size: 16px;
}

/*
 *  Widget Style Start
 */
.iee_widget_style1 .event_details{
  height: auto;
}

.iee_widget{
  margin-bottom: 10px;
}

.iee_event_listing_widget {
    max-height: 600px;
    overflow: auto;
}

.iee_widget_style1 .event_date {
    background-color: #039ED7;
    color: #fff;
    padding: 10px 5px 5px 5px;
    text-align: center;
    width: 75px;
    float: left;
    height: 100%;
}

.iee_widget_style1 .event_picture {
    background-color: #efefef;
    color: #fff;
    padding: 12px;
    text-align: center;
    width: 75px;
    float: left;
    height: 100%;    
}

.iee_widget_style1 .event_date .month {
    display: block;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.2em;
}

.iee_widget_style1 .event_date .date {
    display: block;
    text-align: center;
    font-size: 1.6em;
    line-height: 1.6em;
}

.iee_widget_style1 .event_details {
    background-color: #f5f5f5;
    height: 75px;
}

.iee_widget_style1 .event_details .fa, .iee_event .event_details .fa{
  text-align: center;
  width: 16px;
}

.iee_widget_style1 .event_details p.description{
  color: #666;
}

.iee_widget_style1 .event_desc {
    float: left;
    width: calc( 100% - 75px );
    padding: 8px 10px;
}

.iee_widget_style1 .event_desc .event_address{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}

.iee_widget_style1 .event_desc .event_name {
  font-size: 1.2em;
  color: #039ED7;
  line-height: 1.3em;
}

@media (max-width: 768px){
    .iee_event_meta .details,.iee_event_meta .organizer, .iee_event_meta .venue, .iee_event_meta .map{
      float: none !important;
      width:100% !important;
  }
}

.iee-start-date__dialog .components-popover__content, .iee-end-date__dialog .components-popover__content {
  padding: 10px;
}
.components-panel__row.iee-start-date.iee_hidden, .components-panel__row.iee-end-date.iee_hidden{
  display: none;
}

#iee-eventbrite-checkout-widget {
  border: 1px solid #eeedf2;
}

/* Recurring list */
.iee_recurring_list_container{
	width: 100%;
	padding: 40px;
	margin-bottom: 20px;
}
.iee_recurring_list_main{
	list-style-type: none;
	margin-bottom: 20px;
}
.iee_recurring_list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 20px;
	align-items: center;
}
.iee-multiple-date-container {
	float: left;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.iee-multiple-date-container-min{
	margin: 0;
}
.iee-multiple-date{
	margin: 0;
	padding: 0;
	line-height: 2;
	font-size: 17px;
}
.iee-multiple-date1{
	margin: 0;
	padding: 0;
	line-height: 1;
	font-size: 17px;
}
.iee-date-title{
	font-size: 17px;
}
.iee_multidate-title{
	font-size: 13px;
}
.recurring_title{
	font-size : 24px;
	margin-bottom: 20px;
	font-weight: 600;
}
.iee-multidate-button{
	color: #fff;
	border-radius: 5px;
	height: 36px;
	line-height: 37px;
	min-width: 110px;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
	padding: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	text-decoration: none;
	font-size: 15px;
}
.iee-multidate-button:hover{
	color : #fff;
	opacity: 0.7;
}

/* Responsive Grid View style1*/
.col-iee-md-3 .iee_event .img_placeholder {
  background-size: cover !important;
  min-height: 130px !important;
}
 .col-iee-md-3 .iee_event {
  height: auto !important;
  font-size: 16px;
}
.col-iee-md-4 .iee_event .img_placeholder {
  background-size: cover !important;
  min-height: 170px !important;
}
 .col-iee-md-4 .iee_event {
  height: auto !important;
  font-size: 16px;
}
.col-iee-md-6 .iee_event .img_placeholder {
  background-size: cover !important;
  min-height: 260px !important;
}
 .col-iee-md-6 .iee_event {
  height: auto !important;
  font-size: 16px;
}
.col-iee-md-12 .iee_event .img_placeholder {
  background-size: cover !important;
  min-height: 35em !important;
}
.col-iee-md-12 .iee_event {
  height: auto !important;
  font-size: 16px;
}

@media (max-width: 320px) { 
  .archive-event .iee_event .img_placeholder {
    background-size: cover !important;
    min-height: 140px !important;
  }
}
@media (min-width: 321px) and (max-width: 576px) { 
  .archive-event .iee_event .img_placeholder {
    background-size: cover !important;
    min-height: 170px !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) { 
  .col-iee-md-3 .iee_event .img_placeholder {
    min-height: 240px !important;
  }
  .col-iee-md-4 .iee_event .img_placeholder {
    min-height: 240px !important;
  }
  .col-iee-md-6 .iee_event .img_placeholder {
    min-height: 240px !important;
  }
  .col-iee-md-12 .iee_event .img_placeholder {
    min-height: 240px !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .col-iee-md-3 .iee_event .img_placeholder {
    background-size: cover !important;
    min-height: 350px !important;
  }
  .col-iee-md-4 .iee_event .img_placeholder {
    background-size: cover !important;
    min-height: 350px !important;
  }
  .col-iee-md-6 .iee_event .img_placeholder {
    background-size: cover !important;
    min-height: 350px !important;
  }
  .col-iee-md-12 .iee_event .img_placeholder {
    background-size: cover !important;
    min-height: 350px !important;
  }
}

@media (min-width: 993px) and (max-width: 1200px) { 
  .col-iee-md-3 .iee_event .img_placeholder {
    background-size: cover !important;
    min-height: 100px !important;
  }
  .col-iee-md-4 .iee_event .img_placeholder {
    background-size: cover !important;
    min-height: 140px !important;
  }
  .col-iee-md-6 .iee_event .img_placeholder {
    background-size: cover !important;
    min-height: 220px !important;
  }
  .col-iee-md-12 .iee_event .img_placeholder {
    background-size: cover !important;
    min-height: 25em !important;
  }
  .col-iee-md-3 .iee_event .event_details{
    background-color: #f5f5f5;
    height: 60px;
  }
  .col-iee-md-3 .iee_event .event_date{
    font-size: 12px;
    padding: 8px 5px 5px 5px;
    width: 55px;
  }
  .col-iee-md-3 .iee_event .event_desc{
    font-size: 12px;
    width: calc( 100% - 55px );
  }
  
  .col-iee-md-4 .iee_event .event_details{
    background-color: #f5f5f5;
    height: 60px;
  }
  .col-iee-md-4 .iee_event .event_date{
    font-size: 12px;
    padding: 8px 5px 5px 5px;
    width: 55px;
  }
  .col-iee-md-4 .iee_event .event_desc{
    font-size: 12px;
    width: calc( 100% - 55px );
  }
}

/*new layout style 3 start*/
.iee-event-item a{
  text-decoration: none;
}

.iee-event-item {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  margin: 20px 10px;
}

.iee-event-item::before {
  content: "";
  position: absolute;
  left: 35px;
  top: 50%;
  height: 100%;
  z-index: -1;
}

.iee-event-item.last::before {
  display: none;
}

.iee-event-count {
  width: 70px;
  height: 70px;
  line-height: 68px;
  border-radius: 50%;
  text-align: center;
  font-size: 38px;
  font-weight: 700;
}

.iee-event-content-wrap {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 1;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
}

.iee-event-img {
  overflow: hidden;
  border-radius: 15px;
  flex : 0 0 15%;
}

.iee-event-img img {
  width: 280px;
  border-radius: 15px;
}

.iee-event-item:hover .iee-event-img img {
  transform: scale(1.1);
}

.iee-event-meta {
  margin-bottom: 15px;
}

.iee-event-meta > div {
  display: flex;
  gap: 5px;
  list-style-type: none;
  font-weight: 500;
}

.iee-event-info h4 {
  margin-bottom: 10px;
}

.iee-event-info h4 a {
  font-size: 22px;
}

.iee-event-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  padding-top: 18px;
  width: 15%;
  flex : 0 0 15%;
}

.iee-event-item::before {
  display: none;
}

.iee-event-count {
  background: 0 0;
  width: unset;
  height: unset;
  line-height: unset;
  box-shadow: none;
  line-height: 1;
  font-weight: 800;
}

.iee-event-count span {
  display: block;
  line-height: 1;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 5px;
}

.iee-event-bottom {
  border-top: none;
  margin: 0;
  padding: 0;
}

.iee-event-img img {
  width: 180px;
}

.iee-event-content {
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  padding-right: 20px;
  width: 70%;
  flex : 0 0 70%;
}

.iee-event-item .time {
  font-weight: 500;
}

.iee-theme-btn {
  font-size: 16px;
  color: #fff;
  padding: 10px 24px;
  transition: all .5s;
  text-transform: capitalize;
  position: relative;
  border-radius: 50px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  border: none;
  box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
  z-index: 1;
}

.iee-theme-btn:hover,.iee-theme-btn:focus{
  filter: brightness(90%);
  color: #fff;
}

.iee-event-location {
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 0 0 78%;
}

.iee-event-time{
  flex:  0 0 22;
}


@media all and (min-width: 991px) and (max-width: 1400px) {
  .iee-event-location{
    flex: 0 0 65%;
  }
  .iee-event-bottom{
    width: 100%;
    flex: 0 0 10%;
  }
}


@media all and (max-width:991px) {
  .iee-event-item::before {
      display: none;
  }

  .iee-event-count {
      display: none;
  }

  .iee-event-content-wrap {
      flex-direction: column;
      align-items: unset;
      width: 100%;
  }

  .iee-event-img img {
      width: 100%;
  }

  .iee-event-meta ul {
      flex-direction: column;
      gap: 10px;
  }

  .iee-event-bottom {
      flex-direction: column;
      width: 100%;
  }

  .iee-event-bottom .iee-theme-btn {
      margin-top: 20px;
  }

  .iee-event-content {
      border-right: none;
      padding-right: 0;
      width: 100%;
  }
  .iee-event-dtl-meta{
    display: flex;
    flex-direction: column;
  }
}
/*new layout style 3 end*/
/*new layout style 4 start*/

.iee-style4-main-div{
  margin: 10px 0;
}
.iee-style4-main-div > div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 5px solid #f5f6f6;
  padding: 0 5px 0 10px;
  transition: all 500ms ease;
  z-index: 1;
}

.iee-style4-main-div > div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.1;
  transition: transform 0.5s ease, opacity 0.1s ease;
  transform-origin: bottom right;
  transform: scale(1, 0);
  z-index: -1;
}

.iee-style4-main-div > div:hover::before {
  transform: scale(1, 1);
  transform-origin: top center;
  opacity: 0.1;
}

.iee-style4-main-div > div + div {
  margin-top: 30px;
}

.iee-style4-event-box .iee-style4-te-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}

.iee-style4-event-box .iee-style4-te-meta {
  font-size: 14px;
  letter-spacing: 0.1em;
}

.iee-style4-event-dt {
  position: relative;
  display: block;
}

.iee-style4-event-dt .iee-style4-te-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}

.iee-style4-event-dt .iee-style4-te-meta {
  font-size: 14px;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  gap: 5px;
}

.iee-style4-event-image-img {
  width: 125px;
  height: 125px;
  margin: 10px 0;
}

.iee-style4-event-image-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%; 
}

.iee-style4-child-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.iee-style4-event-box {
  flex: 0 0 70%;
  padding: 0 0 0 15px;
}

.iee-style4-event-dt {
  flex: 0 0 18%;
  padding-right: 10px;
}

.iee-style4-event-image {
  flex: 0 0 12%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and ( min-width: 768px ) and ( max-width: 1200px ) {
  .iee-style4-main-div > div {
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 10px 0;
  }
}
@media only screen and ( min-width: 1199px ) and ( max-width: 1400px ) {
  .iee-style4-main-div > div {
    padding: 10px 15px 10px;
  }
}
@media only screen and ( max-width: 767px ) {
  .iee-style4-main-div > div {
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
    gap: 10px;
  }
}

/*new layout style 4 end*/

/*new style 6 start*/
    /* Events Container */
    .iee6_events-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      /* gap: 20px; */
      margin: 25px 0;
  }

  /* Event Card */
  .iee6_event-card {
      background-color: #fff;
      border-radius: 12px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      /* width: 300px; */
      transition: transform 0.3s ease-in-out;
  }

  .iee6_event-card:hover {
      transform: translateY(-5px);
  }

  /* Event Image */
  .iee6_event-image {
      position: relative;
  }

  .iee6_event-image img {
      width: 100%;
      height: 180px;
      object-fit: cover;
  }


  /* Event Info */
  .iee6_event-info {
      padding: 15px;
  }

  .iee6_event-date {
      font-size: 14px;
      font-weight: bold;
      color: #007bff;
      text-transform: uppercase;
  }

  .iee6_event-title {
      font-size: 18px;
      font-weight: bold;
      margin: 5px 0;
  }

  .iee6_event-time {
      font-size: 14px;
      color: #666;
  }

  .iee6_event-location {
      font-size: 14px;
      color: #666;
      margin: 5px 0;
  }

  .iee6_event-description {
      font-size: 13px;
      color: #555;
      margin-bottom: 10px;
  }

  /* Buttons */
  .iee6_event-buttons {
      display: flex;
      gap: 10px;
  }

  .iee6_event-buttons a, .iee6_event-buttons button {
      flex: 1;
      padding: 8px 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
      text-align: center;
  }

  .iee6_buy-btn {
    opacity: 0.8;
    color:#fff;
  }

  .iee6_buy-btn:hover {
    opacity: 1;
    color:#fff;
  }

  .iee6_details-btn {
      background-color: #ddd;
      color: black;
  }

  .iee6_details-btn:hover {
      background-color: #bbb;
  }

  .iee6_eventbrite-item-location-icon {
    position: relative;
    top: 3px;
    width: 12px;
    height: 15px;
    margin-right: 5px;
    fill: #666;
  }

  .iee6_eventbrite-item-datetime-icon {
    position: relative;
    top: 3px;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    fill: #666;
}

  /* Responsive Design */
  @media (max-width: 768px ) {
      .iee6_events-container {
          flex-direction: column;
          align-items: center;
          display: block;
      }
  }
  @media (min-width: 768px) and (max-width: 992px) {
    .iee6_events-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .iee6_events-container  .eventbrite_events{
      width: 50%;
    }
  }
  a.iee6_event-title, a.iee6_buy-btn, a.iee6_details-btn {
      text-decoration: none !important;
  }
/*new style 6 end*/

